body {
  background-image: url('./../images/bg-ok9.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.dp-pc {
  display: block;
}

.dp-mb {
  display: none;
}

/*====================
ok9 container
====================*/
.ok9-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*====================
ok9 logo
====================*/
.ok9-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.logo-img {
  margin-bottom: 30px;

}

.logo-title {
  display: none;
  width: 85%;
}

.logo-img-mobie,
.logo-title-mobie {
  display: none;
}

/*====================
ok9 banner
====================*/
.ok9-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.banner-pc {
  width: 42%;
}

.banner-mobie {
  display: none;
}

/*====================
category button
====================*/
.category-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  column-gap: 1%;
  gap: 20px;
}

.category-button-list {
  width: 22%;
  background-image: url('./../images/bg-category-button.png');
  background-position: center;
  background-size: 92% 75%;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 50px;
  padding: 1px;
  border: 2px solid #5c5757be;
  margin-bottom: 5px;
}

.category-button-list:hover {
  transform: translateY(-5px);
  transition: 0.5s all;
}

.category-button-list:not(:hover) {
  transition: 0.5s all;
}

.category-button-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-category-button {
  margin-right: 7%;
  width: 22%;
  margin-left: 20px;
}

.content-category-button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #002C14;
}

/*====================
list button
====================*/

.list-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  height: 105px;
  /* gap: 25px; */
  gap: 35px;
}

.list-button-item {
  width: calc(9% - 5px);
  margin: 5px 0;
  cursor: pointer;
  margin-top: 20px;
}

.list-button-item:last-child {
  display: none;
}

.list-button-item:hover {
  transform: translateY(-5px);
  transition: 0.5s all;
}

.list-button-item:not(:hover) {
  transition: 0.5s all;
}

.icon-list-button {
  height: 100px;
}

.content-list-button {
  font-size: 18px;
  font-weight: 700;
  margin-top: 6px;
  letter-spacing: -0.5px;
  color: #016730;
}

/*====================
ok9 footer
====================*/
.ok9-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  width: 100%;
  margin: 20px;
}

.ok9-footer.dp-mb {
  display: none;
}

.footer-title,
.footer-img {
  width: 50%;
}

.footer-title p {
  font-family: "SF Pro Display";
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2;
  text-align: right;
  color: #0053e0;
  text-transform: uppercase;
}

.footer-img {
  text-align: left;
}

.footer-img img:hover {
  transform: translateY(5px);
  transition: 0.5s all;
}

.footer-img img:not(:hover) {
  transition: 0.5s all;
}

.footer-img img {
  width: 40%;
}

@media screen and (max-width: 1200px) {
  .list-button-item {
    width: calc(10% - 5px);
    margin: 5px 0;
  }
}

@media screen and (max-width: 992px) {
  .content-category-button {
    font-size: 14px;
  }

  .content-list-button {
    font-size: 12px;
  }

  .icon-list-button {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .ok9-logo {
    margin-top: 30px;
  }

  .ok9-logo a {
    max-width: 250px !important;
  }

  .ok9-banner {
    padding-top: 0px;
    margin-top: 5px;
  }

  .section-right {
    padding-top: 15px;
  }

  .section-right .title {
    margin-bottom: 3px;
  }

  .ok9-footer.dp-mb {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-title,
  .footer-img {
    width: 80% !important;
  }

  .footer-title,
  .footer-img {
    width: 90% !important;
  }

  .banner-pc {
    width: 38%;
  }

  .content-category-button {
    font-size: 16px;
  }

  .category-button-list {
    width: 44% !important;
    margin: 6px 4px;
    margin-top: 5px !important;
  }

  .icon-category-button {
    width: 22% !important;
    margin-left: 10px;
  }

  .icon-category-dl {
    padding: 10px;
    box-sizing: border-box;
    margin-right: -4px;
    margin-left: 0px;
  }

  .list-button-item {
    width: 17%;
  }

  .icon-list-button {
    height: 17vw;
  }

  .content-list-button {
    font-size: 3.5vw;
  }

  .footer-title img {
    width: 100%;
  }

  .footer-img img {
    width: 60%;
  }

  .category-button {
    gap: 3px;
    margin-top: 5px;
  }

  .dp-pc {
    display: none;
  }

  .dp-mb {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .banner-pc {
    display: none;
  }

  .banner-mobie {
    display: block;
    width: 85%;
    margin: 0 15px;
  }

  .logo-img,
  .logo-title {
    display: none;
  }

  .logo-img-mobie {
    display: block;
    width: 90%;
    margin-bottom: 0px;
  }

  .logo-title-mobie {
    display: none;
    width: 90%;
    margin-bottom: 10px;
  }

  .content-category-button {
    font-size: 13px;
  }

  /* .icon-list-button {
    height: 55px;
  } */

  .category-button-list {
    width: 42%;
  }

  .list-button,
  .ok9-footer {
    margin-top: 0px;
  }

  .ok9-footer {
    flex-direction: column;
  }

  .footer-title,
  .footer-img {
    width: 100%;
    margin: 5px 0;
  }

  .footer-title p {
    text-align: center;
    font-size: 12px;
  }

  .footer-img {
    text-align: center;
  }

  .footer-img img {
    width: 35%;
  }
}

@media screen and (max-width: 430px) {
  .logo-img-mobie {
    width: 80%;
  }

  .logo-title-mobie {
    width: 80%;
  }

  .banner-mobie {
    width: 65%;
  }

  .icon-category-button {
    width: 25%;
  }

  .content-category-button {
    font-size: 12px;
    padding-top: 4px;
  }

  .ok9-footer .content-category-button {
    font-size: 10px !important;
  }

  .list-button-item {
    width: 19%;
  }

  .footer-img img {
    width: 40%;
  }
}

@media screen and (max-width: 375px) {
  .ok9-logo {
    margin: 20px auto 15px;
  }

  .category-button {
    margin-top: 2px;
  }

  .logo-img-mobie {
    width: 100%;
  }

  .banner-mobie {
    width: 50%;
  }

  .list-button,
  .ok9-footer {
    margin-top: 2px;
  }

  .list-button-item {
    margin: 5px 0;
  }

  .footer-title p {
    font-size: 12px;
  }

  .content-category-button {
    font-size: 2.5vw;
  }

  /* .icon-list-button {
    height: 45px;
  } */
}

/* CSS */

.ok9-logo a {
  max-width: 350px;
  width: 100%;
}

.ok9-logo a img {
  width: 100%;
}

.logo-title-pc {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.section-banner {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.section-left {
  width: 50%;
}

.section-left img {
  width: 100%;
  height: auto;
}

.section-right {
  padding-top: 25px;
  width: 50%;
}

.section-right .btn-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-download .btn-download {
  width: 100%;
}

.btn-download .btn-download a {
  max-width: 400px;
  width: 100%;
}

.btn-download img {
  max-width: 350px;
  width: 100%;
}

.section-right .title {
  margin-top: 10px;
  max-width: 512px;
  width: 100%;
}

.section-right .title img {
  width: 100%;
  max-width: 350px;
}

.link {
  transition: 0.5s all;
}

.link:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

@media screen and (max-width: 990px) {
  .list-button {
    height: unset;
  }
}

@media screen and (max-width: 767px) {
  .logo-title-pc {
    display: none;
  }

  .logo-title-mobie {
    display: block;
  }

  .list-button {
    height: unset;
    margin: 3px 0px 5px;
    overflow: hidden;
    width: 100%;
    padding: 0px 20px;
  }

  .section-banner {
    gap: 0px;
    flex-direction: column;
    width: calc(100% - 1.2rem);
  }

  .section-left {
    margin-top: 0.5vw;
    width: 100%;
  }

  .section-right {
    padding-top: 0.5vw;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -10px;
  }

  .section-right .title img {
    max-width: 768px;
  }

  .section-right .btn-download {
    gap: 15px;
    display: flex;
    flex-direction: unset;
  }

  .list-button-item {
    margin-top: 5px;
    display: flex !important;
    justify-content: center !important;
  }

  .slick-prev {
    left: 2px;
  }

  .slick-next {
    right: 2px;
  }

  .slick-prev::before {
    content: url(./../images/arraw-prev.png) !important;
    position: relative;
    z-index: 100000;
    left: 2px;
    top: -10px;
    height: 20px;
    width: 20px;
  }

  .slick-next::before {
    content: url(./../images/arraw-next.png) !important;
    position: relative;
    z-index: 100000;
    right: 0px;
    top: -10px;
    height: 20px;
    width: 20px;
  }
}