body {
  background-image: url('./../images/bg-pc.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Be Vietnam Pro", sans-serif;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.dp-pc {
  display: block;
}

.dp-mb {
  display: none;
}

/*====================
f8 container
====================*/
.f8-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/*====================
f8 logo
====================*/
.f8-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.logo-img {
  margin-bottom: 10px;
}

.logo-title {
  display: none;
  width: 85%;
}

.logo-img-mobie,
.logo-title-mobie {
  display: none;
}

/*====================
f8 banner
====================*/
.f8-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.banner-pc {
  width: 42%;
}

.banner-mobie {
  display: none;
}

/*====================
category button
====================*/
.category-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  column-gap: 1%;
  gap: 80px;
}

.category-button-list {
  width: 20%;
  background-image: url(/assets/images/bg-category-button.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  align-items: center;
  border-radius: 50px;
  padding: 1px;
  border: 2px solid #5c5757be;
  margin-bottom: 5px;
}

.category-button-list:hover {
  transform: translateY(5px);
  transition: 0.5s all;
}

.category-button-list:not(:hover) {
  transition: 0.5s all;
}

.category-button-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon-category-button {
  margin-right: 7%;
  width: 24%;
}

.content-category-button {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

/*====================
list button
====================*/

.list-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  height: 105px;
}

.list-button-item {
  width: calc(9% - 5px);
  margin: 5px 0;
  cursor: pointer;
  margin-top: 20px;
}

.list-button-item:last-child {
  display: none;
}

.list-button-item:hover {
  transform: translateY(5px);
  transition: 0.5s all;
}

.list-button-item:not(:hover) {
  transition: 0.5s all;
}

.icon-list-button {
  height: 70px;
}

.content-list-button {
  font-size: 14px;
  font-weight: 700;
  margin-top: 6px;
  letter-spacing: -0.5px;
  color: #2368dc;
}

/*====================
f8 footer
====================*/
.f8-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  width: 100%;
  margin: 20px;
}

.f8-footer.dp-mb {
  display: none;
}

.footer-title,
.footer-img {
  width: 50%;
}

.footer-title p {
  font-family: "SF Pro Display";
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.2;
  text-align: right;
  color: #0053e0;
  text-transform: uppercase;
}

.footer-img {
  text-align: left;
}

.footer-img img:hover {
  transform: translateY(5px);
  transition: 0.5s all;
}

.footer-img img:not(:hover) {
  transition: 0.5s all;
}

.footer-img img {
  width: 40%;
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {
  .list-button-item {
    width: calc(10% - 5px);
    margin: 5px 0;
  }
}

@media screen and (max-width: 992px) {
  .content-category-button {
    font-size: 14px;
  }

  .content-list-button {
    font-size: 12px;
  }

  .icon-list-button {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .f8-logo a {
    max-width: 270px;
  }

  .f8-banner {
    padding-top: 0px;
    margin-top: 15px;
  }

  .f8-footer {
    
  }

  .f8-footer.dp-mb {
    display: flex;
  }

  .logo-title {
    width: 80%;
  }

  .banner-pc {
    width: 38%;
  }

  .content-category-button {
    font-size: 16px;
  }

  .category-button-list {
    width: 42%;
    margin: 6px 4px;
  }

  .icon-category-button {
    width: 22%;
  }

  .list-button-item {
    width: 17%;
  }

  .icon-list-button {
    height: 70px;
  }

  .content-list-button {
    font-size: 14px;
  }

  .footer-title p {
    font-size: 12px;
  }

  .footer-img img {
    width: 60%;
  }

  .category-button {
    gap: 3px;
  }

  .dp-pc {
    display: none;
  }
  
  .dp-mb {
    display: block;
  }
}

@media screen and (max-width: 576px) {
  .banner-pc {
    display: none;
  }

  .banner-mobie {
    display: block;
    width: 85%;
    margin: 0 15px;
  }

  .logo-img,
  .logo-title {
    display: none;
  }

  .logo-img-mobie {
    display: block;
    width: 90%;
    margin-bottom: 15px;
  }

  .logo-title-mobie {
    display: none;
    width: 90%;
    margin-bottom: 10px;
  }

  .content-category-button {
    font-size: 14px;
  }

  .icon-list-button {
    height: 55px;
  }

  .category-button-list {
    width: 42%;
  }

  .content-list-button {
    font-size: 12px;
  }

  .list-button,
  .f8-footer {
    margin-top: 10px;
  }

  .f8-footer {
    flex-direction: column;
  }

  .footer-title,
  .footer-img {
    width: 100%;
    margin: 5px 0;
  }

  .footer-title p {
    text-align: center;
    font-size: 12px;
  }

  .footer-img {
    text-align: center;
  }

  .footer-img img {
    width: 35%;
  }
}

@media screen and (max-width: 430px) {
  .logo-img-mobie {
    width: 80%;
  }

  .logo-title-mobie {
    width: 80%;
  }

  .banner-mobie {
    width: 65%;
  }

  .icon-category-button {
    width: 25%;
  }

  .content-category-button {
    font-size: 12px;
    padding-top: 4px;
  }

  .list-button-item {
    width: 19%;
  }

  .content-list-button {
    font-size: 10px;
  }

  .footer-img img {
    width: 40%;
  }
}

@media screen and (max-width: 375px) {
  .f8-logo {
    margin-top: 10px;
  }

  .category-button {
    margin-top: 2px;
  }

  .logo-img-mobie {
    width: 65%;
  }

  .banner-mobie {
    width: 50%;
  }

  .list-button,
  .f8-footer {
    margin-top: 5px;
  }

  .list-button-item {
    margin: 5px 0;
  }

  .footer-title p {
    font-size: 12px;
  }

  .content-category-button {
    font-size: 2.5vw;
  }

  .icon-list-button {
    height: 45px;
  }
}

/* CSS */

.f8-logo a {
  max-width: 310px;
  width: 100%;
}

.f8-logo a img {
  width: 100%;
}

.logo-title-pc {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.section-banner {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  max-width: 900px;
  width: 100%;
  margin: auto;
}

.section-left {
  width: 50%;
}

.section-left img {
  width: 100%;
  height: auto;
}

.section-right {
  padding-top: 50px;
  width: 50%;
}

.section-right .btn-download {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.btn-download .btn-download {
  width: 100%;
}

.btn-download .btn-download a {
  max-width: 400px;
  width: 100%;
}

.btn-download img {
  max-width: 350px;
  width: 100%;
}

.section-right .title {
  margin-top: 10px;
  max-width: 512px;
  width: 100%;
}

.section-right .title img {
  width: 100%;
  max-width: 350px;
}

.link {
  transition: 0.5s all;
}

.link:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

@media screen and (max-width: 767px) {
  .logo-title-pc {
    display: none;
  }

  .logo-title-mobie {
    display: block;
  }

  .list-button {
    height: unset;
  }

  .section-banner {
    gap: 5px;
  }

  .section-right {
    padding-top: 2.5vw;
  }

  .section-right .btn-download {
    gap: 8px;
  }

  .section-banner {
    width: calc(100% - 2rem);
  }

  .list-button-item {
    margin-top: 5px;
  }
}